{% extends "estructura/padre.html"%}

{% block cabecera %}
    <h1>Todos los comentarios de una tarea que empiecen por la palabra que se pase en la URL y que el año del comentario sea uno en concreto. </h1>
    <h2>1972/R</h2>
{% endblock %}

{% block contenido%}
    <h1>Comentarios</h1>
    {% for comentario in views_todos_comentarios_palabra_anio %}
        {% include 'comentarios/comentario.html' %}   
    {% empty %}  
        <h1>Lo siento, no existen estas tareas</h1>
    {% endfor %}
{% endblock%}
