<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esto debe mostrar las tareas asociadas a un proyecto</h1>
    {% for tarea in views_proyectos_mostrar_tareas %}
        <div>
            <h2>Titulo: {{tarea.titulo}}</h2>
            <h2>Descripcion: {{tarea.descripcion}}</h2>
            <h2>Fecha de creacion: {{tarea.fecha_creacion}}</h2>  
            <h2>Prioridad : {{tarea.prioridad}}</h2> 
            <h2>Estado: {{tarea.estado}}</h2> 
            <h2>Completada: {{tarea.completada}}</h2> 
            <h2>Creador: {{tarea.creador.nombre}}</h2>
        </div>
    {% endfor %}  
</body>
</html>