<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Esto muestra todos los usuarios que están asignados a una tarea </h1>
    {% for usuario in views_usuario_de_una_tarea %}
        <div style="background-color: rgb(176, 252, 226)">
        <h2>IDtarea : {{ tarea.id}} </h2>
        <h2>ID Usuario : {{ usuario.id }} </h2>
        <h2>Nombre : {{ usuario.nombre }} </h2>
        <h2>Correo electronico : {{ usuario.correo_electronico }} </h2>
        <h2>Contraseña : {{ usuario.contrasenia }} </h2>
        <h2>Fecha_registro : {{ usuario.fecha_de_registro}} </h2>
        </div>
    {% endfor %}
</body>
</html>