{% extends "estructura/padre.html"%}

{% block cabecera %}
    <h1>Esto muestra todos los usuarios que están asignados a una tarea </h1>
{% endblock %}

{% block contenido%}
    {% for usuario in views_usuario_de_una_tarea %}
        <h2>Id_usuario: {{usuario.id}}</h2>
        <h2>Nombre: {{usuario.nombre}}</h2>
        <h2>email: {{usuario.email}}</h2>
        <h2>Password: {{usuario.password}}</h2>
        <h2>Fecha registro: {{usuario.fecha_registro}}</h2>

        <h2>Proyectos que ha creado</h2>
        <ul>
        {% for proyecto in usuario.proyecto_creador.all %}
                <li>{{proyecto.nombre}}</li>
        {% endfor %}
        </ul>

        <h2>Proyectos asociados</h2>
        <ul>
        {% for proyecto in usuario.proyecto_usuarios_asignados.all %}
            
                <li>{{proyecto.nombre}}</li>
            
        {% endfor %}
        </ul>
        <h2>Tareas creadas</h2>
        <ul>
        {% for tarea in usuario.tarea_creador.all %}
            
                <li>{{tarea.titulo}}</li>
            
        {% endfor %}
        </ul>
        <h2>Tareas asignadas</h2>
        <ul>
        {% for tarea in usuario.tarea_usuarios_asignados.all %}
            
                <li>{{tarea.titulo}}</li>
        
        {% endfor %}
        </ul>
        <h2>Comentarios creados</h2>
        <ul>
        {% for comentario in usuario.comentario_autor.all %}
        
                <li>{{comentario.contenido}}</li>
        
        {% endfor %}
        </ul>  
    {% endfor %}
{% endblock%}

    

